@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.carousel-image{
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    filter: brightness(50%);
}
@media  screen and (min-width:990px) {
    .user-icon-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
    }
}
.hula{
    font-size: 40px;
}

.custom-offcanvas{
    width: 300px !important;
}

@media screen and (max-width:650px){
    .hula{
        font-size: 25px;
        transform: translateY(-45px);
    }
}